.container-fluid img{
    width: 120px;
}
.container{
    margin-bottom: 80px;
}
.rows{
    background-image: url("hot-gadgets/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
}
.card{
    border: none;
    box-shadow: 4px 4px 10px rgb(208, 206, 206);
    border-radius: 8px;
    text-align: center;
}
.img{
    padding: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 8px;
    margin: 15px;
}
.mar{
    margin-right: 30px;
}

.left-img{
    width: 100%;
}

footer{
    height: 40px;
}
